@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "ViewBalance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>View Balance</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <p>
        
        <a asp-action="ChangePickupDay">Change Your Pickup Day</a>|
        <a asp-action="AddPickupDay">Add Additional Pickup Day</a>|
        <a asp-action="SuspendService">Suspend Your Service</a>|
        <a asp-action="ViewBalance">View Balance</a>
    </p>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BalanceDue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BalanceDue)
        </dd>

    </dl>
</div>

