@model IEnumerable<TrashCollector.Models.Customer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Index">Today's Pickups</a>|
    <a asp-action="ListOfCustByDay">See Customer's By Day</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspendServiceStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SuspendServiceEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdditionalPickupDay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PickupConfirm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BalanceDue)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuspendServiceStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SuspendServiceEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdditionalPickupDay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PickupConfirm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BalanceDue)
            </td>
           
            <td>
                <a asp-action="Confirm" asp-route-id="@item.Id">Confirm Pickup</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
